<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">BMR</a>
      <!-- <label>{{}}</label> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="Package">Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="client">Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Package-Activation">Activation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="users">Users</a>
          </li>
          
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="text" placeholder="Search"> -->
          <span class="text-white mb-2">{{userName}}</span> 
          <button class="btn btn-primary mb-2" type="button" (click)="onLogout()">Logout</button>
        </form>
      </div>
    </div>
  </nav> 
   
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  